<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xm.cpsmall.module.user.mapper.SuProductMapper" >
  <resultMap id="BaseResultMap" type="com.xm.cpsmall.module.user.serialize.entity.SuProductEntity" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="app_type" property="appType" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="VARCHAR" />
    <result column="platform_type" property="platformType" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="is_collect" property="isCollect" jdbcType="INTEGER" />
    <result column="share_user_id" property="shareUserId" jdbcType="INTEGER" />
    <result column="coupon_id" property="couponId" jdbcType="VARCHAR" />
    <result column="goods_info" property="goodsInfo" jdbcType="VARCHAR" />
    <result column="del" property="del" jdbcType="INTEGER" />
    <result column="collect_time" property="collectTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>
