<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xm.cpsmall.module.user.mapper.SuShareMapper" >
  <resultMap id="BaseResultMap" type="com.xm.cpsmall.module.user.serialize.entity.SuShareEntity" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="VARCHAR" />
    <result column="platform_type" property="platformType" jdbcType="INTEGER" />
    <result column="watch" property="watch" jdbcType="INTEGER" />
    <result column="sell" property="sell" jdbcType="INTEGER" />
    <result column="will_make_money" property="willMakeMoney" jdbcType="INTEGER" />
    <result column="del" property="del" jdbcType="INTEGER" />
    <result column="goods_info" property="goodsInfo" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>
