<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xm.cpsmall.module.cron.mapper.ScBillPayMapper" >
  <resultMap id="BaseResultMap" type="com.xm.cpsmall.module.cron.serialize.entity.ScBillPayEntity" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="bill_ids" property="billIds" jdbcType="VARCHAR" />
    <result column="total_money" property="totalMoney" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="fail_reason" property="failReason" jdbcType="VARCHAR" />
    <result column="process_id" property="processId" jdbcType="INTEGER" />
    <result column="process_sn" property="processSn" jdbcType="VARCHAR" />
    <result column="pay_sys_sn" property="paySysSn" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>
