<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xm.cpsmall.module.cron.mapper.ScMgjOrderRecordMapper" >
  <resultMap id="BaseResultMap" type="com.xm.cpsmall.module.cron.serialize.entity.ScMgjOrderRecordEntity" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="order_sn" property="orderSn" jdbcType="VARCHAR" />
    <result column="order_sub_sn" property="orderSubSn" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="last_update" property="lastUpdate" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>
