<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xm.cpsmall.module.pay.mapper.SpWxOrderNotifyMapper" >
  <resultMap id="BaseResultMap" type="com.xm.cpsmall.module.pay.serialize.entity.SpWxOrderNotifyEntity" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="appid" property="appid" jdbcType="VARCHAR" />
    <result column="mch_id" property="mchId" jdbcType="VARCHAR" />
    <result column="out_trade_no" property="outTradeNo" jdbcType="VARCHAR" />
    <result column="total_fee" property="totalFee" jdbcType="INTEGER" />
    <result column="attach" property="attach" jdbcType="VARCHAR" />
    <result column="device_info" property="deviceInfo" jdbcType="VARCHAR" />
    <result column="nonce_str" property="nonceStr" jdbcType="VARCHAR" />
    <result column="sign" property="sign" jdbcType="VARCHAR" />
    <result column="sign_type" property="signType" jdbcType="VARCHAR" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="is_subscribe" property="isSubscribe" jdbcType="VARCHAR" />
    <result column="trade_type" property="tradeType" jdbcType="VARCHAR" />
    <result column="bank_type" property="bankType" jdbcType="VARCHAR" />
    <result column="settlement_total_fee" property="settlementTotalFee" jdbcType="INTEGER" />
    <result column="fee_type" property="feeType" jdbcType="VARCHAR" />
    <result column="cash_fee" property="cashFee" jdbcType="INTEGER" />
    <result column="cash_fee_type" property="cashFeeType" jdbcType="VARCHAR" />
    <result column="coupon_fee" property="couponFee" jdbcType="INTEGER" />
    <result column="coupon_count" property="couponCount" jdbcType="INTEGER" />
    <result column="transaction_id" property="transactionId" jdbcType="VARCHAR" />
    <result column="time_end" property="timeEnd" jdbcType="VARCHAR" />
    <result column="result_code" property="resultCode" jdbcType="VARCHAR" />
    <result column="err_code" property="errCode" jdbcType="VARCHAR" />
    <result column="err_code_des" property="errCodeDes" jdbcType="VARCHAR" />
    <result column="return_code" property="returnCode" jdbcType="VARCHAR" />
    <result column="return_msg" property="returnMsg" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>
